name: Dokka publication

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Build
        run: |
          ./gradlew dokkaHtmlMultiModule --no-daemon --no-parallel --stacktrace
          mv build/dokka/htmlMultiModule/-modules.html build/dokka/htmlMultiModule/index.html
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@4.1.0
        with:
          branch: gh-pages
          folder: build/dokka/htmlMultiModule
